body {

    

}

header {

    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20%;
    
}

header #timer {

float:right;
position: relative;
bottom: 0%;

}


.Start-Quiz {



}


.Question-1 {



}



.Question-2 {



}


.Question-3 {



}


.Question-4 {



}



.Question-5 {




}



.SubmitQuiz {



}


.Initials-score {



}