body {

    display: flex;   
    flex-wrap: wrap;
    flex-direction: column;

}

#header {

    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0%;
    background-color: blueviolet;
    color: white;
    width: 100%;
}
 

.Start-Quiz {

    position: relative;
    left: 0%;
    padding: 100px;
    border: 5px solid black;
    margin: 50px;
    display: inline-block;
    text-align: center;

}

.Start-Quiz button {

    background-color: blueviolet;
    color: white;
}

.Questions {

    position: relative;
    left: 0%;
    padding: 100px;
    border: 5px solid black;
    margin: 50px;
    display: inline-block;
    text-align: center;
}



.options-displayed-in-columns {

   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
    
}


.Submit-Quiz {

    position: relative;
    left: 0%;
    padding: 100px;
    border: 5px solid black;
    margin: 50px;
    display: inline-block;
    text-align: center;
}


.Submit-Quiz button {

    width: 10px;

}


.Initials-score {

    position: relative;
    left: 0%;
    padding: 100px;
    border: 5px solid black;
    margin: 50px;
    display: inline-block;
    text-align: center;

}

#Enter-Initials {

    border-radius: 25px;
    position: relative;
    left: 0%;
    padding: 100px;
    border: 5px solid black;
    margin: 50px;
    display: inline-block;
}



.answer-option {

    border: 5px solid purple;
    display: inline;
    color: aliceblue;
    background-color: blueviolet;
    border-radius: 25px;
}


/* pseudoclasses and pseudoelements section*/

.Start-Quiz button:hover {

    text-decoration: underline;

}

.options-displayed-in-columns {

    
}


/* media query section */